/** {
    border: 1px solid red;
}*/

.buscador {
    width: 27%;
    margin: 10px auto;
}

.logo {
    background-color: rgba(197, 184, 255, 0.5);
        color: rgba(197, 184, 255, 0.5);
}

#btnStyle {
    -webkit-border-radius: 0 25px 0 25px;
    border-radius: 0 25px 0 25px;
}
.input-group{
    text-align: center;
}
/*.list-group-item{
    background-color: #393939;
    border: 0px;
}*/
.input-group .form-control{
    width: 70%;
}


body {
    color: white;
    background-image: url(../img/cocktails.jpg);
}
.swiper-container{
    /*background-color: #000;*/
    background-image: url(../img/cocktails.jpg);
}
#dataDrink {
    color: black;
    height: 450px;
    -webkit-border-radius: 50px 0 50px 0;
    border-radius: 50px 0 50px 0;
    color: black;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
}
.miNav{
    padding: 10px 100px;
}
#dataDrink > main{

}
div.list-group-item{
    background-color: transparent;
    width:auto;
    border: 0px solid transparent;
    padding: 5px;
}

footer {
    margin-top: 10px;
}
/*card*/
    .card {
        font-family: 'Pangolin', cursive;
        background-color: rgba(197, 184, 255, 0.5);
        color: rgba(197, 184, 255, 0.5);
        padding: 10px;
        color: black;
        -webkit-border-radius: 50px 0 50px 0;
        border-radius: 50px 0 50px 0;
        height: 380px;
        top: 25px;
        position: relative;

        
    }
    
    .card .titleCard {}
    
    .card .titleCard h1 {}
    
    .card .dataCard col-xs-12 {
        height: 175px;
    }
    
    .card .dataCard col-xs-12 .imgCard {}
    


    .card .dataCard col-xs-12 .description {}
    
    .card .dataCard col-xs-12 .description p {}
    
    .card .dataCard col-xs-12 .description .instuctionsCard {}
    
    .card .dataCard col-xs-12 .mesurementsCard {}
    
    .card .dataCard col-xs-12 .mesurementsCard .ingredientsCard {}
    
    .card .dataCard col-xs-12 .mesurementsCard .ingredientsCard h2 {}
    
    .card .dataCard col-xs-12 .mesurementsCard .ingredientsCard p {}
    
    .card .dataCard col-xs-12 .mesurementsCard .measureCard {}
    
    .card .dataCard col-xs-12 .mesurementsCard .measureCard h2 {}
    
    .card .dataCard col-xs-12 .mesurementsCard .measureCard p {}
    .ingredientsCard{

    }