* {
    border: 1px solid red;
}

.buscador {
    width: 27%;
    margin: 10px auto;
}

.logo {
    background-color: white;
}

.templateDrink {
    background-color: #000;
    color: white
}

#btnStyle {
    -webkit-border-radius: 0 25px 0 25px;
    border-radius: 0 25px 0 25px;
}
.input-group{
    text-align: center;
}
.list-group-item{
    background-color: #393939;
    border: 0px;
}
.input-group .form-control{
    width: 70%;
}
.row{
    margin: 0px;
}
.imgClass{
    width: 300px;
}
h1.ng-binding{
    width: 70%;
}
div.ng-scope{
    position: relative;
}

body {
    background-color: #000;
    color: white;
}

#dataDrink {
    margin-top: 10px; 
    width: 100%;
    background-color: white;
    height: 400px;
    -webkit-border-radius: 15px 0 15px 0;
    border-radius: 15px 0 15px 0;
    color: black;
    overflow: auto;
}

footer {
    margin-top: 10px;
}
