<!DOCTYPE html>
<html lang="en" ng-app="myCocktailApp">
<head>
  <meta charset="UTF-8">
  <title>QR messaging</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.min.js"></script>
  <style>
    
  </style>
</head>
<body>
  <!-- nav bar begins -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#app-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#/">Brand</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="app-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#/alcoholics">Alcoholic<span class="sr-only"></span></a></li>
          <li><a href="#/noAlcoholics">No Alcoholic</a></li>
        </ul>
      
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <!-- navbar end -->
  <div class="row">
    <div class="col-lg-6">
      <div class="input-group">
        <!-- <span class="input-group-btn">
          <button class="btn btn-default" type="button">Go!</button>
        </span> -->
        <input ng-model="userInput" type="text" class="form-control" placeholder="Search for...">
      </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
  </div>
<!-- Latest compiled and minified JS -->
  <select name="" id="">
    <option value="alcoholicDrinks">Alcoholic</option>
    <option value="noAlcoholicDrinks">No Alcoholic</option>
  </select>
  <div class="container" >
    <div class="row" >
      <main ng-view></main>
      <!-- <ul class="list-group">
        <li ng-repeat="drink in alcoholicDrinks | filter:userInput" type="button" class="list-group-item list-inline col-md-4">{{drink.strDrink}}</li>
      </ul> -->
    </div>
  </div>

<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="appFinder.js"></script>
</body>
</html>