<!DOCTYPE html>
<html lang="en" ng-app="myCocktailApp">

<head>
    <meta charset="UTF-8">
    <title>Mixin About</title>
    <!-- Bower Links -->
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/about.css">
</head>

<body>
    <div class="container">

        <head>
            <nav class="navbar navbar-inverse">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div id="navbar" class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="#/ingredient">Search by ingredient</a></li>
                            <li><a href="#contact">Contact</a></li>
                        </ul>
                    </div>
                    <!--/.nav-collapse -->
                </div>
            </nav>
            <div class="logo">
                <img src="../img/logo.png" class="center-block" alt="" width="180px">
            </div>
        </head>
        <div class=" main row">
            <h1 class="page-header text-center">Mixing Team </h1>
            <div class="site-wrapper">
                <div class="site-wrapper-inner">
                    <div class="cover-container">
                        <div class="inner cover">
                            <h1 class="cover-heading">Our offices.</h1>
                            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea beatae recusandae, illo iusto facere architecto iste quaerat nemo excepturi autem placeat corrupti ratione quod voluptates earum! Distinctio, vitae nemo consequuntur!</p>
                            <p class="lead">
                                <button ng-click='showTeam()'>{{ Team ? 'Hide' : 'Show' }} Team</button>
                            </p>
                        </div>
                        <!-- Names & Photos -->
                        <div class="placeholders">
                            <div class="col-xs-12 col-sm-4 placeholder text-center ">
                                <img src="http://ichef.bbci.co.uk/news/660/cpsprodpb/025B/production/_85730600_monkey2.jpg" width="200" height="200" class="img  img-circle" alt="Generic placeholder thumbnail">
                                <h4>Alejandro</h4>
                            </div>
                            <div class="col-xs-12 col-sm-4 placeholder text-center ">
                                <img src="http://thewondrous.com/wp-content/uploads/2015/04/funny-images-of-monkey.jpg" width="200" height="200" class="img  img-circle" alt="Generic placeholder thumbnail">
                                <h4>Jonas</h4>
                            </div>
                            <div class="col-xs-12 col-sm-4 placeholder text-center ">
                                <img src="https://s-media-cache-ak0.pinimg.com/736x/42/59/a2/4259a232cfa72d1e23ab7e8b11b20df6.jpg" width="200" height="200" class="img  img-circle" alt="Generic placeholder thumbnail">
                                <h4>Xavier</h4>
                            </div>
                        </div>
                    </div>
                    <footer>
                        <ul class="nav navbar-nav pull-right">
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="#about">Search by ingredient</a></li>
                            <li><a href="#contact">Contact</a></li>
                        </ul>
                    </footer>
                </div>

                <!-- Bower scripts -->
                <script src="bower_components/jquery/dist/jquery.min.js"></script>
                <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
                <script src="bower_components/angular/angular.min.js"></script>
                <script src="bower_components/angular-route/angular-route.min.js"></script>
                <!-- End of Bower Scripts -->
                <script src="js/myCocktailApp.js"></script>
                <script src="js/factories/CocktailFactory.js"></script>
                <script src="js/factories/DetailFactory.js"></script>
                <script src="js/factories/RandomFactory.js"></script>
                <script src="js/factories/IngredientFactory.js"></script>
                <script src="js/controllers/AlcoholicController.js"></script>
                <script src="js/controllers/DetailController.js"></script>
                <script src="js/controllers/RandomController.js"></script>
                <script src="js/controllers/IngredientController.js"></script>
                <script src="js/controllers/AboutController.js"></script>
                <script src="js/config.js"></script>
</body>

</html>
