<div class="jumbotron">
    <div class="container">
        <h1>DrinkUp!</h1>
        <button class="btn btn-danger" ng-click="getDetail($event)">Get Detail</button>
        </form>
        <li class="list-unstyled" ng-repeat="cocktail in cocktail">
            <p>{{cocktail.strDrink}}</p>
            <p>{{cocktail.strCategory}}</p>
            <p>{{cocktail.strAlcoholic}}</p>
            <p>{{cocktail.strGlass}}</p>
            <p>{{cocktail.strInstructions}}</p>
            <p>{{cocktail.strIngredient1}} : {{cocktail.strMeasure1}}</p>
        </li>
    </div>
</div>
