<div class="templateDrink">
    <div class="container">
        <!-- <button class="btn btn-danger" ng-click="getDetail($event)">Get Detail</button> -->
        <div class="row">
            <div>
                <h3>{{cocktail.strDrink}}</h3>
                <img ng-src="{{cocktail.strDrinkThumb}}" alt="" class="imgClass col-md-4">
                <div class="info pull-col-md-4">
                    <p>{{cocktail.strCategory}}</p>
                    <p>{{cocktail.strAlcoholic}}</p>
                    <p>{{cocktail.strGlass}}</p>
                    <div>{{cocktail.strInstructions}}</div>
                    <div class="col-md-2">
                        <h5>Ingredient</h5>
                        <p ng-repeat="ingredient in ingredients">{{ingredient}}</p>
                    </div>
                    <div class="col-md-2">
                        <h5>Measure</h5>
                        <p ng-repeat="measure in measures">{{measure}}</p>
                    </div>  
                </div>
            </div>
        </div>
    </div>
</div>
